rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // --- Common helper functions ----

    // Check if user is logged in
    function isAuthenticated() {
      return request.auth != null;
    }

    // Check if user is admin
    function isAdmin() {
      return isAuthenticated();
      // return isAuthenticated() &&
      //   exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    // Valid request payload
    function hasValidRequest() {
    	return isAuthenticated();
      //return request.resource.data.keys().hasAll(['updatedAt', 'createdBy']) &&
        //     request.resource.data.createdBy is string &&
          //   request.resource.data.updatedAt is timestamp;
    }

    // Basic rate-limit check
    // Checks if user’s lastAccess timestamp + 1 second < now
    function isNotRateLimited() {
    	return true;
      // return resource.data.lastAccess is timestamp
      //   ? request.time > resource.data.lastAccess + duration.value(1, "s")
      //   : true;
    }

    // --- Collections ---

    // Blogs
    match /blogs/{document=**} {
      allow read: if true;
      allow write: if isAdmin() && hasValidRequest() && isNotRateLimited();
    }

    // News
    match /news/{document=**} {
      allow read: if true;
      allow write: if isAdmin() && hasValidRequest() && isNotRateLimited();
    }

    // Videos
    match /videos/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Focus items
    match /focus/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Quizzes
    match /quizzes/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Actions
    match /actions/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Calendar events
    match /calendar/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // User Profiles
    match /users/{userId} {
      allow read: if true;

      allow create: if isAuthenticated() &&
                     request.auth.uid == userId;

      allow update: if isAuthenticated() &&
                     (request.auth.uid == userId || isAdmin());

      allow delete: if isAdmin();
    }

    // Admins collection
    match /admins/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if isAdmin();
    }
  }
}
